.choice-a, .choice-b, .choice-c, .choice-d {
    width: 22%;
    display: inline-block;
    text-align: center;
}

.giphy-search {
    text-align: center;
    margin: 0 auto;
}

#score {
    font-family: monaco;
    font-size: 20px;
    border: solid 2px;
}