/* BACKGROUND IMAGE FOR MAIN PAGE */
   .bg-image {
      
    background-image: url(1200px-Hyades.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
    }
/* BACKGROUND IMAGE FOR LIGHT SIDE PAGE */
   .bg-image1 {
      
    background-image: url(artwork_circumbinary_planet.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #464646;
      }
  
 /* BACKGROUND IMAGE FOR DARK SIDE PAGE */      
    .bg-image2 {
      
     background-image: url(https://www.thesun.co.uk/wp-content/uploads/2020/03/7-1.png);
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #464646;
           }   
           
  /* BACKGROUND IMAGE FOR GAME OVER SCREEN */         
    .bg-image3 {
      
     background-image: url(game-over-image.jpg);
     background-position: center center;
     background-repeat: no-repeat;
     background-attachment: fixed;
     background-size: cover;
     background-color: #464646;
                  } 

           
      
/* WELCOME PAGE DETAILING TEXT INFORMATION ABOUT PAGE */
   .page-welcome {
     text-align: center;
     font-family: arial;
     color: white;
     font-size: 15px;
     background-color: rgb(0, 0, 0);
     opacity: 0.7;
     
        
    }

  /* Centers the STAR WARS and THE GALACTIC GAME headers on page */
   .header-main1, .header-main2 {
      margin: 0 auto;
      text-align: center;
        
   }

   .header1-page-2, .header1-page-3 {
      margin: 0 auto;
      text-align: center;
      padding: 30px 10px 10px 10px;
   }

   .header2-page-2 {
     margin: 0 auto;
     text-align: center;
     padding: 10px 10px 10px 10px; 
   }
   

  .header2-page-3 {
    margin: 0 auto;
    text-align: center;
    padding: 10px 10px 10px 10px;
}
 

  /* BUTTON STYLING MAIN PAGE */
  .light-side-image, .dark-side-image {
    
    text-align: center;
    margin: 0 auto;
    padding: 20px;
    margin: 20px;
    display: inline-block;
   
    
    }

    .buttons {
     text-align: center;
     
    }

    .question-container {
      text-align: center;
    }
    .answers {
      text-align: center;
    }

    .next-question {
      width: 100%;
    }

    .next-question-dark {
      width: 100%;
      color: white;
    }
    .dark-text {
      background-color: rgba(255, 255, 255, 0.2);
      font-family: Tahoma;
      color: white;
      padding: 5px;
    }

    .light-text {
      background-color: rgba(255, 255, 255, 0.1);
      font-family: Tahoma;
      color: white;
      padding: 5px;
    }

    /* LIGHT-SIDE PAGE BUTTON STYLING */
    .choice-a, .choice-b, .choice-c, .choice-d {
      width: 22%;
      display: inline-block;
      text-align: center;
      
    }

    /* DARK-SIDE PAGE BUTTON STYLING */
    .dark-choice-a, .dark-choice-b, .dark-choice-c, .dark-choice-d {
      width: 22%;
      display: inline-block;
      text-align: center;
      color: white;
      
    }

 
  
  @media all and (max-width: 500px) {
    .card-list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
  }
  

  /* Mobile Responsiveness below */
  
    @media screen and (max-width: 600px) {
    .page-welcome {
      font-size: 12px;
    }
  }

  
 
 